body{
    background-color: rgb(241, 201, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    height: auto;
    margin-top: 30px;
    font-family: sans-serif;
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 188);
}
.container{
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar{
    padding: 15px;
    border: 1px solid;
    grid-column: 1fr;
    display: flex;
    flex-direction: column;
}
button{
    width: 100px;
    height: 80px;
}
.projectcard{
    width: 95px;
    height: 40px;
    background-color: blue;
    color: aliceblue;
}
footer{
    font-size: 60px;
    margin-top: 30px;
}


